@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model MyChat.Models.User

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="card" style="width: 30rem;">
        <img src="@Model.Avatar" class="card-img-top" style="height: 500px" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.UserName</h5>
            @if (Model.EmailConfirmed)
            {
                <p class="card-text text-success">Email: @Model.Email</p>
            }
            else
            {
                <p class="card-text text-danger">Email: @Model.Email (Не подтвержден)</p>
                <a asp-action="GetConfirmationEmail" asp-route-id="@Model.Id">Получить письмо подтверждения</a>
            }
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Localizer["Birth"]: @Model.BirthDate.ToLongDateString()</li>
            <li class="list-group-item">@Localizer["Count"]: @Model.Messages.Count</li>
        </ul>
        <div class="card-body">
            @if (User.Identity.Name == Model.UserName || User.IsInRole("admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="card-link">@Localizer["Edit"]</a>
                <a asp-action="GetData" asp-route-id="@Model.Id" class="card-link">Получить данные на почту</a>
            }
        </div>
    </div>
</div>
