@model MyChat.Models.User

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="card" style="width: 30rem;">
        <img src="@Model.Avatar" class="card-img-top" style="height: 500px" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.UserName</h5>
            <p class="card-text">Email: @Model.Email</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Birth date: @Model.BirthDate.ToLongDateString()</li>
            <li class="list-group-item">Кол-во сообщений: @Model.Messages.Count</li>
        </ul>
        <div class="card-body">
            @if (User.Identity.Name == Model.UserName || User.IsInRole("admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="card-link">Edit profile</a>
            }
        </div>
    </div>
</div>
