@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer loc;
@model IEnumerable<MyChat.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @loc["Id"]
            </th>
            <th>
                @loc["Birth"]
            </th>
            <th>
                @loc["Avatar"]
            </th>
            <th>
                @loc["Username"]
            </th>
            <th>
                @loc["Email"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <img src="@item.Avatar" style="width: 19rem; height: 200px" alt="..."/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-name="@item.UserName">@loc["Details"]</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">@loc["Edit"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@loc["Delete"]</a> |
                @if (item.LockoutEnabled == true && item.LockoutEnd > DateTime.UtcNow)
                {
                     <a asp-action="UnBlock" asp-route-id="@item.Id">@loc["unblock"]</a>
                }
                else
                {
                    <a asp-action="Block" asp-route-id="@item.Id">@loc["block"]</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
